<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vincent.im.dao.MsgRecordDao" >
	<insert id="insert" parameterType="com.vincent.im.model.MsgRecord">
		INSERT INTO msg_record  (event_type,convType,`to`,from_account,from_client_type,from_deviceId,from_nick,msg_timestamp,msg_type,body,msg_content,ext,dur,create_time)
		VALUES (#{eventType},#{convType},#{to},#{fromAccount},#{fromClientType},#{fromDeviceId},#{fromNick},#{msgTimestamp},#{msgType},#{body},#{msgContent},#{ext},#{dur},#{createTime})
	</insert>
</mapper>